// colors
$color-main: #df0;
$color-font: #f3f3f3;
$color-grey-light: #485563;
$color-grey-dark: #29323c;
$color-white: #fff;
$color-black: #000;

// border-radi
$border-radi-default: 4px;

// durations
$duration-fast: 0.3s;
